<% content_for :title do %>Hiptest dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr-49" data-view="Status" data-title="TR-49-" data-text=""></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tr-49-android" data-view="Status" data-title="TR-49-android" data-text=""></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="tr-49-web" data-view="Status" data-title="TR-49-web" data-text=""></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tr-50" data-view="Status" data-title="TR-50" data-text=""></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tr-50-android" data-view="Status" data-title="TR-50-android" data-text=""></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
    <div data-id="tr-50-ios" data-view="Status" data-title="TR-50-ios" data-text=""></div>
  </li>
  <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
  <div data-id="tr-50-web" data-view="Status" data-title="TR-50-web" data-text=""></div>
</li>
  </ul>
</div>